@import 'src/styles/core';

.details-card {
  margin: 15px;
  @include atMedium {
    margin: 30px 50px;
  }

  &__detail {
    margin-bottom: 30px;
    border-bottom: 1px solid $color-light-grey;
    padding-bottom: 3px;

    span {
      font-weight: 700;
    }
  }

  &__comments-title {
    margin-top: 50px;
    font-size: 105%;
  }

  &__comments {
    min-height: 150px;
    max-height: 300px;
    padding: 10px;
    overflow-y: scroll;
  }

  &__comment {
    margin: 10px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-light-grey;
  }

  &__by {
    color: $primary-azure;
    font-size: 110%;
    font-weight: 700;
  }
}
