$primary-blue: #222c3c;
$primary-blue-dark: #1d2531;
$primary-azure: #00a8ff;

$color-light-grey: #eff3f6;
$color-grey: #b7c0cd;

$color-grey-dark: #697687;
$color-green: #497a89;
$color-orange: #e6781e;
$color-yellow: #FFC107;
$color-black: #000;
$color-white: #fff;
