@import 'src/styles/core';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 0 10px;

  @include atMedium {
    height: 100vh;
    margin-top: -20px;
    margin-left: 120px;
    padding: 0 60px;
  }
}
